h1 {
    background-color: beige;
    text-align: center;
    color: black;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;
}

p {
    background-color: burlywood;
    text-align: center;
    padding: auto;
}